<app-navbar> </app-navbar>
<div class="container p-3">
    <div class="card p-3 shadow p-3 mb-5 bg-white rounded">
        <p style="padding-left: 5%">
            <br /> ส่วนที่ 2 : การจัดการเรียนรู้
        </p>
        <div class="row" style="padding-left: 5%; padding-right: 5%">
            <div class="col-12" style="font-weight: 600">
                เป้าหมาย (Outcome/Objectives) ท่านให้ความสำคัญต่อเป้าหมายในการจัดการเรียนรู้ดังต่อไปนี้อยู่ในระดับ
            </div>
        </div>
        <div class="row" style="padding-left: 5%; padding-right: 5%; padding-top: 1%">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-4" *ngFor="let val of lecObj; let num = index">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{ val.lecObjId }}"
                                    name="{{ num }}" id="flexRadioDefault1" (change)="onChangeLeObj($event.target, val)"
                                    [checked]="checkedLecobj(val)" />
                                <label class="form-check-label" for="flexRadioDefault1">
                                    {{ val.lecObjQues }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 2%">
                <div class="col-12" style="font-weight: 600">
                    รูปแบบ/วิธีการสอน (Pedagory)
                    <br />ท่านนำรูปแบบ/วิธีการสอน (Pedagory) ใดบ้างไปใช้ในรายวิชาที่ระบุข้างต้น (ระบุได้มากกว่า 1 ข้อ)
                </div>
                <div class="row" style="padding-top: 1%">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4" *ngFor="
                                        let val of lecpedagory;
                                        let num = index
                                    ">
                                    <div class="form-check">
                                        <input class="form-check-input" value="{{ val.pedagoryId }}" type="checkbox"
                                            name="{{ num }}" id="flexRadioDefault1"
                                            (change)="onChangePedagory($event.target, val)"
                                            [checked]="checkedPedogory(val)" />
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            {{ val.pedagoryName }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 2%">
                <div class="col-12" style="font-weight: 600">
                    กระบวนการ (Process)
                </div>
                <div class="row" style="padding-top: 1%">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4" *ngFor="
                                        let val of lecProcess;
                                        let num = index
                                    ">
                                    <div class="form-check">
                                        <input class="form-check-input" value="{{ val.lecProcassId }}" type="checkbox"
                                            name="{{ num }}" id="flexRadioDefault1"
                                            (change)="onChangeProcess($event.target, val)"
                                            [checked]="ProcessPedogory(val)" />
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            {{ val.lecProcassQ }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 2%">
                <div class="col-12" style="font-weight: 600">
                    เครื่องมือ (Tools)
                    <br />สื่อการเรียนรู้ที่ใช้ในการเรียนในรูปแบบออนไลน์ (ระบุได้มากกว่า 1 ข้อ)
                </div>
                <div class="row" style="padding-top: 1%">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4" *ngFor="let val of lecTool; let num = index">
                                    <div class="form-check">
                                        <input class="form-check-input" value="{{ val.lecToolId }}" type="checkbox"
                                            name="{{ num }}" id="flexRadioDefault1"  (change)="onChangeTool($event.target, val)"
                                            [checked]="checkedTool(val)"/>
                                        <label class="form-check-label" for="flexRadioDefault1"
                                       >
                                            {{ val.lecToolName }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 2%">
                <div class="col-12" style="font-weight: 600">
                    ท่านใช้แอพลิเคชันและระบบจัดการเรียนรู้ดังต่อไปนี้ในการสอนออนไลน์อยู่ในระดับใด
                </div>
                <div class="row" *ngFor="let val of toolType; let num1 = index">
                    <div class="col-12">
                        <h6 style="padding-top: 2%; font-weight: 700">
                            {{ val.toolTypeName }}
                        </h6>
                        <div class="form-group">
                            <div class="row">
                                <ng-container *ngIf="num1 == 0">
                                    <div class="col-6" *ngFor="
                                            let val of toolQ1;
                                            let num = index
                                        ">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            {{ val.toolQues }}
                                        </label>
                                        <div class="row">
                                            <div class="col-1" *ngFor="
                                            let vals of radioValue;
                                            let nums = index
                                        ">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                        name="t1{{
                                                            num
                                                        }}" id=""
                                                        (change)="onChangeTool1($event.target, vals,num)"
                                                        [checked]="checkedTool1(vals)" />
                                                    <label class="form-check-label" for="">
                                                        {{vals.id}}
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="num1 == 1">
                                    <div class="col-6" *ngFor="
                                            let val of toolQ2;
                                            let num = index
                                        ">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            {{ val.toolQues }}
                                        </label>
                                        <div class="row">
                                            <div class="col-1" *ngFor="
                                            let vals of radioValue;
                                            let nums = index
                                        ">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                        name="t2{{
                                                            num
                                                        }}" id=""
                                                        (change)="onChangeTool2($event.target, vals,num)"
                                                        [checked]="checkedTool2(vals)" />
                                                    <label class="form-check-label" for="">
                                                        {{vals.id}}
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="num1 == 2">
                                    <div class="col-6" *ngFor="
                                            let val of toolQ3;
                                            let num = index
                                        ">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            {{ val.toolQues }}
                                        </label>
                                        <div class="row">
                                            <div class="col-1" *ngFor="
                                            let vals of radioValue;
                                            let nums = index
                                        ">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                        name="t3{{
                                                            num
                                                        }}" id=""
                                                        (change)="onChangeTool3($event.target, vals,num)"
                                                        [checked]="checkedTool3(vals)" />
                                                    <label class="form-check-label" for="">
                                                        {{vals.id}}
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="num1 == 3">
                                    <div class="col-6" *ngFor="
                                            let val of toolQ4;
                                            let num = index
                                        ">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            {{ val.toolQues }}
                                        </label>
                                        <div class="row">
                                            <div class="col-1" *ngFor="
                                            let vals of radioValue;
                                            let nums = index
                                        ">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                        name="t4{{
                                                            num
                                                        }}" id=""
                                                        (change)="onChangeTool4($event.target, vals,num)"
                                                        [checked]="checkedTool4(vals)" />
                                                    <label class="form-check-label" for="">
                                                        {{vals.id}}
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="num1 == 4">
                                    <div class="col-6" *ngFor="
                                            let val of toolQ5;
                                            let num = index
                                        ">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            {{ val.toolQues }}
                                        </label>
                                        <div class="row">
                                            <div class="col-1" *ngFor="
                                            let vals of radioValue;
                                            let nums = index
                                        ">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                        name="t1{{
                                                            num
                                                        }}" id=""
                                                        (change)="onChangeTool5($event.target, vals,num)"
                                                        [checked]="checkedTool5(vals)" />
                                                    <label class="form-check-label" for="">
                                                        {{vals.id}}
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="num1 == 5">
                                    <div class="col-6" *ngFor="
                                            let val of toolQ6;
                                            let num = index
                                        ">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            {{ val.toolQues }}
                                        </label>
                                        <div class="row">
                                            <div class="col-1" *ngFor="
                                            let vals of radioValue;
                                            let nums = index
                                        ">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                        name="t6{{
                                                            num
                                                        }}" id=""
                                                        (change)="onChangeTool6($event.target, vals,num)"
                                                        [checked]="checkedTool6(vals)" />
                                                    <label class="form-check-label" for="">
                                                        {{vals.id}}
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row pt-5" style="padding-left: 5%; padding-right: 5%">
            <div class="col-12 " style="font-weight:600 ;">
                การประเมินผล (Assessments)
            </div>
            <div class="row" style="padding-top: 1%">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4" *ngFor="let val of lecAss; let num = index">
                                <div class="form-check">
                                    <input class="form-check-input" value="{{ val.lecAssessId }}" type="checkbox"
                                        name="{{ num }}" id="flexRadioDefault1" (change)="onChangeAss($event.target, val)"
                                        [checked]="checkedAss(val)" />
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        {{ val.lecAssessQ }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 2%">
                <div class="col-12" style="font-weight: 600">
                    ทรัพยากรการเรียนรู้
                    <br />ทรัพยากรการเรียนรู้ออนไลน์ที่ท่านเพิ่มเติมให้แก่ผู้เรียน (ระบุได้มากกว่า 1 ข้อ)
                </div>
                <div class="row" style="padding-top: 1%">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4" *ngFor="let val of lecResource; let num = index">
                                    <div class="form-check">
                                        <input class="form-check-input" value="{{ val.lecResourceID }}" type="checkbox"
                                            name="{{ num }}" id="flexRadioDefault1" (change)="onChangeRes($event.target, val)"
                                            [checked]="checkedRes(val)"/>
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            {{ val.lecResourceName }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between pr-5 pt-5 pb-3" style="padding-left: 5%; padding-right: 5%">
            <button type="button " class="btn btn-secondary" routerLink="/lecturerForm">
                ย้อนกลับ
            </button>
            <button type="button " class="btn btn-primary" (click)="onSubmit()" >
                ถัดไป
            </button>
        </div>
    </div>
</div>