<app-navbar> </app-navbar>
<div class="container p-3">
    {{type1|json}}
    <div class="card p-3 shadow p-3 mb-5 bg-white rounded">
        <p style="padding-left: 5%">
            <br /> ส่วนที่ 2 : การจัดการเรียนรู้
        </p>
        <div class="row" style="padding-left: 5%; padding-right: 5%">
            <div class="col-12">
                เป้าหมาย (Outcome/Objectives)เป้าหมายของการเรียนมหาวิทยาลัยของคุณคือ (ระบุได้มากกว่า 1 ข้อ)
            </div>
        </div>
        <div class="row" style="padding-left: 5%; padding-right: 5%; padding-top: 1%">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-4" *ngFor="let val of stdObj; let num = index">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{ val.objId }}" name="{{ num }}"
                                    id="flexRadioDefault1" (change)="onChangeObj($event.target, val)"
                                    [checked]="checkedObj(val)" />
                                <label class="form-check-label" for="flexRadioDefault1">
                                    {{ val.objName }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding-top: 2%">
                        <div class="col-12">
                            วิธีการเรียนรู้แบบใดที่เหมาะสมกับผู้กรอกแบบสอบถาม (ระบุได้มากกว่า 1 ข้อ)
                        </div>
                    </div>
                    <div class="row" style="padding-top: 1%">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-4" *ngFor="
                                            let val of stdLearn;
                                            let num = index
                                        ">
                                        <div class="form-check">
                                            <input class="form-check-input" value="{{ val.learnid }}" type="checkbox"
                                                name="{{ num }}" id="flexRadioDefault1"
                                                (change)="onChangeLearn($event.target, val)"
                                                [checked]="checkedLearn(val)" />
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                {{ val.learnName }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 2%">
                                        <div class="col-12">
                                            สื่อการเรียนรู้ที่ใช้ในการเรียนในรูปแบบออนไลน์ (ระบุได้มากกว่า 1 ข้อ)
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 1%">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-4" *ngFor="
                                                            let val of stdMedia;
                                                            let num = index
                                                        ">
                                                        <div class="form-check">
                                                            <input class="form-check-input" value="{{
                                                                    val.mediaId
                                                                }}" type="checkbox" name="{{ num }}"
                                                                id="flexRadioDefault1"
                                                                (change)="onChangeMedia($event.target, val)"
                                                                [checked]="checkedMedia(val)" />
                                                            <label class="form-check-label" for="flexRadioDefault1">
                                                                {{
                                                                val.mediaName
                                                                }}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 2%">
                                        <div class="col-12">
                                            วิธีการ (Technique): จากรายการต่อไปนี้
                                            นักศึกษาใช้เทคนิคหรือกลยุทธ์ในการเรียนข้อใดบ้าง (1-ไม่ได้ใช้ -
                                            5-ใช้บ่อยที่สุด)
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-6 pt-3" *ngFor="
                                                        let val of chniqstd;
                                                        let num = index
                                                    ">
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        {{ val.techniq_name }}
                                                    </label>
                                                    <div class="row">
                                                        <div class="col-1" *ngFor="
                                                        let vals of radioValue;
                                                        let nums = index
                                                    ">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="{{
                                                                        num
                                                                    }}" id=""
                                                                    (change)="onChangeradio($event.target, vals,num)"
                                                                    [checked]="checkedradio(vals)" />
                                                                <label class="form-check-label" for="">
                                                                    {{vals.id}}
                                                                </label>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- onChangeTool -->
                                    <div class="row" style="padding-top: 2%">
                                        <div class="col-12">
                                            เครื่องมือ (Tools): ท่านใช้แอพลิเคชันและระบบจัดการเรียนรู้ดังต่อไปนี้
                                            (1-ไม่ได้ใช้ - 5-ใช้บ่อยที่สุด)
                                        </div>
                                    </div>
                                    <div class="row" *ngFor="
                                            let val of toolType;
                                            let num1 = index
                                        ">
                                        <div class="col-12">
                                            <h6 style="
                                                    padding-top: 2%;
                                                    font-weight: 700;
                                                ">
                                                {{ val.toolTypeName }}
                                            </h6>
                                            <div class="form-group">
                                                <div class="row">
                                                    <ng-container *ngIf="num1 == 0">
                                                        <div class="col-6" *ngFor="
                                                                let val of toolQ1;
                                                                let num = index
                                                            ">
                                                            <label class="form-check-label" for="flexRadioDefault1">
                                                                {{
                                                                val.toolQues
                                                                }}
                                                            </label>
                                                            <div class="row">
                                                                <div class="col-1" *ngFor="
                                                                let vals of radioValue;
                                                                let nums = index
                                                            ">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="t1{{
                                                                                num
                                                                            }}" id=""
                                                                            (change)="onChangeTool($event.target, vals,num)"
                                                                            [checked]="checkedTool(vals)" />
                                                                        <label class="form-check-label" for="">
                                                                            {{vals.id}}
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </ng-container>

                                                    <ng-container *ngIf="num1 == 1">
                                                        <div class="col-6" *ngFor="
                                                                let val of toolQ2;
                                                                let num = index
                                                            ">
                                                            <label class="form-check-label" for="flexRadioDefault1">
                                                                {{
                                                                val.toolQues
                                                                }}
                                                            </label>
                                                            <div class="row">
                                                                <div class="col-1" *ngFor="
                                                                let vals of radioValue;
                                                                let nums = index
                                                            ">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="t2{{
                                                                                num
                                                                            }}" id=""
                                                                            (change)="onChangeTool1($event.target, vals,num,num1)"
                                                                            [checked]="checkedTool1(vals)" />
                                                                        <label class="form-check-label" for="">
                                                                            {{vals.id}}
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                    <ng-container *ngIf="num1 == 2">
                                                        <div class="col-6" *ngFor="
                                                                let val of toolQ3;
                                                                let num = index
                                                            ">
                                                            <label class="form-check-label" for="flexRadioDefault1">
                                                                {{
                                                                val.toolQues
                                                                }}
                                                            </label>
                                                            <div class="row">
                                                                <div class="col-1" *ngFor="
                                                                let vals of radioValue;
                                                                let nums = index
                                                            ">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="t3{{
                                                                                num
                                                                            }}" id=""
                                                                            (change)="onChangeTool2($event.target, vals,num,num1)"
                                                                            [checked]="checkedTool2(vals)" />
                                                                        <label class="form-check-label" for="">
                                                                            {{vals.id}}
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            </div>
                                                  
                                                    </ng-container>
                                                    <ng-container *ngIf="num1 == 3">
                                                        <div class="col-6" *ngFor="
                                                                let val of toolQ4;
                                                                let num = index
                                                            ">
                                                            <label class="form-check-label" for="flexRadioDefault1">
                                                                {{
                                                                val.toolQues
                                                                }}
                                                            </label>
                                                            <div class="row">
                                                                <div class="col-1" *ngFor="
                                                                let vals of radioValue;
                                                                let nums = index
                                                            ">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="t4{{
                                                                                num
                                                                            }}" id=""
                                                                            (change)="onChangeTool3($event.target, vals,num,num1)"
                                                                            [checked]="checkedTool3(vals)" />
                                                                        <label class="form-check-label" for="">
                                                                            {{vals.id}}
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                    <ng-container *ngIf="num1 == 4">
                                                        <div class="col-6" *ngFor="
                                                                let val of toolQ5;
                                                                let num = index
                                                            ">
                                                            <label class="form-check-label" for="flexRadioDefault1">
                                                                {{
                                                                val.toolQues
                                                                }}
                                                            </label>
                                                            <div class="row">
                                                                <div class="col-1" *ngFor="
                                                                let vals of radioValue;
                                                                let nums = index
                                                            ">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="t5{{
                                                                                num
                                                                            }}" id=""
                                                                            (change)="onChangeTool4($event.target, vals,num,num1)"
                                                                            [checked]="checkedTool4(vals)" />
                                                                        <label class="form-check-label" for="">
                                                                            {{vals.id}}
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                    <ng-container *ngIf="num1 == 5">
                                                        <div class="col-6" *ngFor="
                                                                let val of toolQ6;
                                                                let num = index
                                                            ">
                                                            <label class="form-check-label" for="flexRadioDefault1">
                                                                {{
                                                                val.toolQues
                                                                }}
                                                            </label>
                                                            <div class="row">
                                                                <div class="col-1" *ngFor="
                                                                let vals of radioValue;
                                                                let nums = index
                                                            ">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="t6{{
                                                                                num
                                                                            }}" id=""
                                                                            (change)="onChangeTool5($event.target, vals,num,num1)"
                                                                            [checked]="checkedTool5(vals)" />
                                                                        <label class="form-check-label" for="">
                                                                            {{vals.id}}
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end pr-5 pt-5 pb-3" style="padding-left: 5%; padding-right: 5%">
            <!-- <button type="button " class="btn btn-secondary" routerLink="/studentForm">
                ย้อนกลับ
            </button> -->
            <!-- routerLink="/studentForm3" -->
            <button type="button " class="btn btn-primary" (click)="onSubmit()" >
                ถัดไป
            </button>
        </div>
    </div>
</div>