<app-navbar>
</app-navbar>
<!-- <p>
    std-form works!</p> -->
<div class="container p-3">
    <div class="card p-3 shadow p-3 mb-5 bg-white rounded">
        <div class="d-flex justify-content-center pb-3">
            <img src="./../../assets/img/PSU.png" width="60px" />
        </div>
        <h5 style="text-align: center">
            แบบทดสอบเพื่อการวิจัย <br />เรื่อง การวิเคราะห์รูปแบบการเรียนรู้ด้วยการขับเคลื่อนข้อมูล (DATA Driven)
            <br />สำหรับผู้เรียนรายบุคคลในระดับอุดมศึกษา <br /> สาขาที่เกี่ยวกับ การขับเคลื่อนข้อมูล เทคโนโลยีการศึกษา รูปแบบการเรียนรู้
        </h5>
        <br />
        <div style="padding-left: 5%; padding-right: 5%; font-weight: 400">
            คำชี้แจง : แบบสอบถามนี้ จัดทำขึ้นเพื่อนำไปใช้ในการทำวิจัยรูปแบบการสอนเพื่อวิเคราะห์รูปแบบการเรียนรู้ด้วยการขับเคลื่อนข้อมูล สาขาที่เกี่ยวกับ การขับเคลื่อนข้อมูล เทคโนโลยีการศึกษา รูปแบบการเรียนรู้
        </div>
        <div style="padding-left: 10%; ">
            <br/>ส่วนที่ 1 ข้อมูลประชากร <br />ส่วนที่ 2 การจัดการเรียนรู้
            <br />ส่วนที่ 3 การยอมรับเทคโนโลยี
        </div>
        <p style="padding-left: 5%; padding-right: 5%;">
            <br/>การตอบของผู้สอนไม่มีผลกระทบต่อการประเมินการสอนหรือการทำงาน ดังนั้นจึงขอให้ตอบตามความเป็นจริงมากที่สุด โดยข้อมูลที่ได้รับจากผู้สอน ผู้วิจัยจะนำไปวิเคราะห์และนำเสนอข้อมูลในภาพรวมเท่านั้น ข้อมูลที่ได้จากแบบสอบถามนี้จะถูกเก็บไว้เป็นความลับ
            การเข้าร่วมการวิจัยของอาสาสมัครเป็นไปโดยความสมัครใจและอาสาสมัครอาจปฏิเสธที่จะเข้าร่วมหรือถอนตัวออกจากการวิจัยได้ทุกขณะ โดยไม่มีความผิดหรือสูญเสียประโยชน์ที่อาสาสมัครพึงได้รับ การวิจัยครั้งนี้สำเร็จไม่ได้ถ้าไม่ได้รับความร่วมมือจากผู้สอน ผู้วิจัยขอขอบคุณ
            ผู้ตอบแบบทดสอบทุกท่านที่ให้ความร่วมมือมา ณ โอกาสนี้ </p>
        <p style="padding-left: 5%;"> <br/>ส่วนที่ 1 : ข้อมูลประชากร</p>


        <app-lec-part1></app-lec-part1>
    </div>
</div>