#chart {
    // width: 75%;
    width: 60%;
    margin: 5px auto;
    padding: 0;
    margin-bottom: 15px !important;
}

.apexcharts-legend {
    justify-content: center !important;
    top: 0 !important;
    font-family: "Kanit", sans-serif, "Open Sans";
}