<app-navbar>
</app-navbar>


<div id="cards_landscape_wrap-2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" *ngFor="let val of
                learningStyle11; let num= index">
                <a routerLink="/detail" (click)="addDetail(val)">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src={{val.image}} alt="" />
                            </div>
                            <div class="text-container">
                                <h6>{{val.topic}}</h6>
                                <p>{{val.title}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>