<app-sidebar>
</app-sidebar>
<div class="container p-3">
    <div class="row" style="display: flex; justify-content: center; padding-top: 5%;">
        <div class="col-3">
            <div class="ard p-3 shadow p-3 mb-5 bg-white rounded" style="cursor: pointer;">
                <div class="p-4" style="display: flex; justify-content:
                    center;">แบบสอบถามสำหรับนักศึกษา</div>
            </div>
        </div>
        <div class="col-3">
            <div class="ard p-3 shadow p-3 mb-5 bg-white rounded" style="cursor: pointer;">
                <div class="p-4" style="display: flex; justify-content:
                    center;">แบบสอบถามสำหรับอาจารย์</div>
            </div>
        </div>
    </div>